<style>
  .btn-search{
    background-color: #fe424d;
    color: white;
  }

  .btn-search:hover{
    background-color: #fe424d;
    color: white;
  }

  .btn-search i{
    display: inline;
  }

  .search:hover{
    border-radius: 1rem;
    border-color: #fe424d;
  }
</style>


<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    
    <!-- Left: Logo -->
    <div class="d-flex align-items-center">
      <a class="navbar-brand d-flex align-items-center" href="/listings">
        <i class="fa-regular fa-compass me-2"></i>
        <h3 class="mb-0">StayNest</h3>
      </a>
    </div>

    <!-- ðŸ” Search Form -->
<form class="d-flex" role="search">
  <input
    class="form-control me-2 search"
    type="search"
    placeholder="comming soon"
    aria-label="Search"
  />
  <button class="btn btn-search d-inline-flex align-items-center" type="submit">
    <i class="fas fa-search me-2"></i>
    Search
  </button>
</form>


    <!-- Right: Navigation Links & Auth -->
    <div class="d-flex align-items-center">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listings">All Listings</a>
          <a class="nav-link" href="/listings/new">Add new Listing</a>

          <% if (!currentUser) { %>
            <a class="nav-link" href="/signup"><b>Sign up</b></a>
            <a class="nav-link" href="/login"><b>Log in</b></a>
          <% } %>
          <% if (currentUser) { %>
            <a class="nav-link" href="/logout"><b>Log out</b></a>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</nav>
